@use '../styles/modules/index' as *;

h1,
h2,
h3 {
	margin: 0;
}

html,
body,
#root {
	height: 100%;
}

#root {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: 75px 1fr;
	font-family: $font;
}

#header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(160, 160, 160);
	padding: $padding;
	box-shadow: rgb(100, 100, 100) 0 3px 6px 1px;

	.title {
		&:hover {
			@include rainbow(1.5s, 240px);
			@media only screen and (max-width: 900px) {
				@include rainbow(1s, 52px);
			}
		}
	}

	.logo {
		width: 35px;
		height: 35px;
		justify-self: right;

		&:hover {
			cursor: pointer;
		}
	}

	.status {
		display: flex;
		gap: 20px;

		position: absolute;
		right: 50%;
		transform: translate(50%, 0);
		width: max-content;
	}
}

.board {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(max(100px, 100%/8), 1fr));
	grid-auto-rows: 1fr;
	justify-content: center;
	justify-items: center;
	gap: $gap;
	padding: $margin;
}

.card {
	aspect-ratio: 3/4;
	width: 100%;
	color: rgb(255, 255, 255);
	border-radius: 20px;
	border: solid 4px;
	box-shadow: rgba(0, 0, 0, 0.349) 0px 10px 15px 2px;
	transition: all 0.2s ease-in-out;
	@media only screen and (min-width: 900px) {
		&:hover {
			cursor: pointer;
			box-shadow: rgba(0, 0, 0, 0.349) 0px 14px 30px 0px;
			transform: translate(0, -8px);
		}
	}
}

.background {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;

	.gameover {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;

		&_score {
			color: white;
			font-size: 2.5rem;
			font-weight: 700;
		}

		.restart {
			width: 180px;
			height: 50px;
			border-radius: 16px;
			border: solid black 3px;
			font-weight: 700;
			font-size: 1.3rem;
		}
	}
}
